## Deliverable 3. Create a Travel Itinerary Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [24]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Khasan,RU,65.66,moderate rain,42.43,130.64,Krako Motorkár
1,3,Hay River,CA,66.20,broken clouds,60.82,-115.80,Ptarmigan Inn Hotels
2,4,Torbay,CA,71.01,broken clouds,47.67,-52.73,Gallows Cove
3,5,Romny,UA,71.47,broken clouds,50.75,33.47,Floriana
4,10,Sawtell,AU,60.80,clear sky,-30.38,153.10,Boambee Waters Caravan Park

In [25]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.

In [26]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Jamestown']
vacation_end = vacation_df.loc[vacation_df['City']=='Jamestown']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Roma']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Grafton'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Broome']
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
146,537,Broome,US,72.0,broken clouds,42.25,-75.83,Chenango Valley State Park

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start=(vacation_start.iloc[0]["Lat"],vacation_start.iloc[0]["Lng"])
end = (vacation_end.iloc[0]["Lat"],vacation_end.iloc[0]["Lng"])
stop1 = (vacation_stop1.iloc[0]["Lat"],vacation_stop1.iloc[0]["Lng"])
stop2 = (vacation_stop2.iloc[0]["Lat"],vacation_stop2.iloc[0]["Lng"])
stop3 =(vacation_stop3.iloc[0]["Lat"],vacation_stop3.iloc[0]["Lng"])

In [29]:
import gmaps.datasets
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
roundtrip_map=gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(roundtrip_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,36,Jamestown,US,70.0,few clouds,42.10,-79.24,Hampton Inn & Suites Jamestown
1,36,Jamestown,US,70.0,few clouds,42.10,-79.24,Hampton Inn & Suites Jamestown
2,388,Roma,US,73.4,clear sky,43.21,-75.46,Wingate By Wyndham Rome
3,202,Grafton,US,75.0,thunderstorm,42.21,-71.69,The Grafton Inn
4,537,Broome,US,72.0,broken clouds,42.25,-75.83,Chenango Valley State Park

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [32]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))